.property-content {
    margin-bottom: 10px;
    background: #fff;
    padding: 10px 15px;
}
.property-attr-item {
    padding: 2px 0;
    font-size: 14px;
}
.textarea-warp {
    padding: 10px;
}
.btn-group {
    padding: 10px 20px;
}
.bottom-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  text-align:center;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 14px;
  z-index: 9;
}
