.detail-warp {
    background: #fff;
    margin: 10px 0;
    padding: 10px 15px;
    color: #333;
    font-size: 14px;
}
.detail-item {
    margin: 5px 0;
}
.detail-item span {
  padding-left: 5px;
}
